<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    
  </head>
  <body ng-app="app" ng-controller="todoController">
    

  	<div ng-view></div>


	<script type="text/ng-template" id="todo.html">
	    <div style="padding: 30px;">

		    <div>

		    	<input type="text" class="txtText" ng-model="newItem" ></input>

	    		<button class="btn-submit" ng-click="add(newItem)" >Add</button>		

		    </div>

		    <div>
		    	
		    	<ul class="todo-list">
		    		<li ng-repeat="item in items" >
		    			{{item.value}}
		    			<input type="text" ng-model="item.value"></input>
		    			<button ng-click="remove(item)" >X</button>
		    		</li>
		    	</ul>

		    </div>

	    </div>
	</script>

	<script type="text/ng-template" id="cats.html">
		cats!
	</script>

    <script>

    	angular.module('app', ['ngRoute'])    	
    	
		.controller('todoController', function ($scope) {
    
			$scope.newItem = "asdf";

			$scope.items = [];

			$scope.add = function(newItem){
				$scope.items.push({value: newItem});
				$scope.newItem = "";
				console.log($scope.items);
			}

			$scope.remove = function(item){
				var index = $scope.items.indexOf(item);
				$scope.items.splice(index, 1);
			};

			console.log("todoController");	
	
		})

		.controller('catsController', function ($scope) {
			console.log("catsController");
		})

		.config(function ($routeProvider) {
	        $routeProvider
	            .when('/todo', {
	                templateUrl: 'todo.html',
	                controller: 'todoController'
	            })
	            .when('/cats', {
	                templateUrl: 'cats.html',
	                controller: 'catsController'
	            })
	            .otherwise({
	                redirectTo: '/todo'
	            });
    	});

    </script>

  </body>
</html>
