<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    -->
  </head>
  <body ng-app="app" ng-controller="todoController">
    

    <div style="padding: 30px;">

	    <div>

	    	<input type="text" class="txtText" ng-model="newItem" ></input>

	    	<button class="btn-submit" ng-click="add(newItem)" >Add</button>

	    </div>


	    <div>
	    	
	    	<ul class="todo-list"></ul>

	    </div>

    </div>

    <script>

    	angular.module('app', [])    	
    	
		.controller('todoController', function ($scope) {
    
			$scope.newItem = "asdf";

			$scope.items = [];

			$scope.add = function(newItem){
				$scope.items.push({value: newItem});
				$scope.newItem = "";
				console.log($scope.items);
			}

			console.log("todoController");	
	
		});

    </script>

  </body>
</html>
